<footer id="footer">
    <div class="container my-container pt-5 ">
      <div class="row">
        
        <div class="col-sm-6 col-lg-4 my-3">
          <div class="footer-menu">
            <h3 class="bolder mb-4">More About WSU</h3>
            <ul class="menu-list list-unstyled">
              <li class="menu-item mb-2">
                <a href="#" class="footer-link">About Us</a>
              </li>
              <li class="menu-item mb-2">
                <a href="#" class="footer-link">Our Mission</a>
              </li>
              <li class="menu-item mb-2">
                <a href="#" class="footer-link">Our Impact</a>
              </li>
              <li class="menu-item mb-2">
                <a href="#" class="footer-link">FAQs</a>
              </li>
            
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 my-3">
          <div class="footer-menu">
            <h3 class="bolder mb-4">Who We Are</h3>
            <ul class="menu-list list-unstyled">
              <li class="menu-item mb-2">
                <a href="#" class="footer-link">Our Team</a>
              </li>
              <li class="menu-item mb-2">
                <a href="#" class="footer-link">Our Stakeholders and Partners</a>
              </li>
              <li class="menu-item mb-2">
                <a href="#" class="footer-link">Executive Leadership Council</a>
              </li>
              <li class="menu-item mb-2">
                <a href="#" class="footer-link">Community Advisory Council</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 my-3">
          <div class="footer-menu">
            <h3 class="bolder mb-4">Get Involved With WSU</h3>
            <ul class="menu-list list-unstyled">
              <li class="menu-item mb-2">
                <a href="#" class="footer-link">Apply for a Grant</a>
              </li>
              <li class="menu-item mb-2">
                <a href="#" class="footer-link">Find an Internship</a>
              </li>
              <li class="menu-item mb-2">
                <a href="#" class="footer-link">Join the WSU Team</a>
              </li>
              <li class="menu-item mb-2">
                <a href="#" class="footer-link">Contact Us</a>
              </li>
  
            </ul>
          </div>
        </div>
        
      </div>
    </div>
    <div id="footer-bottom">
      <hr class="text-black-50">
      <div class="container my-container">
        <div class="row py-3">
          <div class="col-md-6 copyright">
            <div class="site-info text-dark"> © 2021 West Side United <br> 906 S Homan Ave, Chicago, IL 60624 </div>
          </div>
          <div class="col-md-6 text-md-end text-right">
            <ul class="jetpack-social-navigation d-flex list-unstyled justify-content-end">  <li>
              <a href="#" class="ms-3">
                <i class="fa fa-twitter"></i>
                 </a>
            </li>
            <li>
              <a href="#" class="ms-3">
                <i class="fa fa-facebook-square"></i>
              </a>
            </li>
  
            <li>
              <a href="#" class="ms-3">
                <i class="fa fa-youtube-play"></i>
                 </a>
            </li>
          
            <li>
              <a href="#" class="ms-3">
                <i class="fa fa-envelope"></i>
                 </a>
            </li>
  
          </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  