@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


a{
  text-decoration: none !important;
}
/* on mobile devices below 600px
 */
@media screen and (max-width: 600px) {
  .logo {
    width: 160px !important;
}
.container-fluid.d-lg-none{
  visibility: hidden;
  display: none;
}
  :root {
    --header-height: 100px;
    --header-height-min: 80px;
  }
}

/* Theme Colors */
:root {
  --primary-color: #2c313f;
  --light-primary-color: #E2F3F0;
  --secondary-color: #6ec1e4;
  --light-secondary-color: #FFE9E5; 
  --tertiary-color: #FFEED3;
  --dark-color: #31333A;
  --light-color: #FFFFFF;
  --grey-color: #BBC7D4;
  --light-dark-color: #727272;
  --light-grey-color: #f5f5f5;
    --body-font: "Lato", sans-serif;
  --heading-font:  "Lato", sans-serif;
    /* widths for rows and containers
     */
     --header-height: 160px;
     --header-height-min: 80px;
}

/* Fonts */


body {

  --bs-link-color: var(--dark-color);
  --bs-link-hover-color: var(--dark-color);

  --bs-link-color-rgb: 40, 40, 40;
  --bs-link-hover-color-rgb: 0, 0, 0;

  --bs-light-rgb: 248, 248, 248;

  --bs-font-sans-serif: var(var(--body-font));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.3rem;
  --bs-body-color: var(--dark-color);

  --bs-primary: #003970;
  --bs-primary-rgb: 76, 192, 130;
  --bs-primary-bg-subtle: #E2F3F0;

  --bs-border-color: #F7F7F7;

  --bs-secondary: #EC6C5A;
  --bs-secondary-rgb: 236, 108, 90;
  --bs-secondary-bg-subtle: #FFE9E5;

  --bs-tertiary: #f8be60;
  --bs-tertiary-bg-subtle: #FFEED3;

}

.btn {
  --bs-btn-font-family: var(--heading-font);
}
.btn.text-primary:hover {
  background-color: #003970 !important;
  color: #fff !important;
  border-color: #fff;
}
.btn-primary {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 60px;
  transition: all 0.3s ease-in;
  --bs-btn-color: var(--light-color);
  --bs-btn-bg: var(--primary-color);
  --bs-btn-border-color: var(--primary-color);
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #46ad76;
  --bs-btn-hover-border-color: #46ad76;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--light-color);
  --bs-btn-active-bg: var(--primary-color);
  --bs-btn-active-border-color: var(--primary-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--light-color);
  --bs-btn-disabled-bg: #d3d7dd;
  --bs-btn-disabled-border-color: var(--primary-color);
}

.btn-outline-primary {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 60px;
  transition: all 0.3s ease-in;
  --bs-btn-color: var(--primary-color);
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: var(--primary-color);
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: var(--primary-color);
  --bs-btn-hover-border-color: var(--primary-color);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--primary-color);
  --bs-btn-active-bg: var(--primary-color);
  --bs-btn-active-border-color: var(--primary-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--primary-color);
  --bs-btn-disabled-bg: #d3d7dd;
  --bs-btn-disabled-border-color: var(--primary-color);
  --bs-gradient: none;
}

.btn-outline-dark {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease-in;
}

.btn-dark {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease-in;
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--dark-color);
  --bs-btn-border-color: var(--dark-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #212529;
  --bs-btn-hover-border-color: #212529;
  --bs-btn-focus-shadow-rgb: 66, 70, 73;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--dark-color);
  --bs-btn-active-border-color: var(--dark-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--dark-color);
  --bs-btn-disabled-border-color: var(--dark-color);
}

/* body {
  letter-spacing: 0.01625rem;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--bs-body-color);
  font-weight: 700;
  text-transform: capitalize;
}

.breadcrumb {
  --bs-breadcrumb-item-active-color: var(--dark-color);
}

.form-control {
  border: 1px solid #e4e3e3;
}

.form-control:focus {
  border-color: #949494;
  outline: 0;
  box-shadow: none;
}


@media only screen and (max-width: 768px) {
  .padding-large {
    padding-top: 10rem;
    padding-bottom: 5rem;
  }

  .padding-medium {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .padding-medium-2 {
    padding-top: 12rem;
    padding-bottom: 6rem;
  }
}


/*----------------------------------------------*/
/* 6. SITE STRUCTURE */
/*----------------------------------------------*/
/* 6.1 Header
--------------------------------------------------------------*/


@media screen and (max-width: 1200px) {
  .navbar-nav .nav-item .nav-link {
    font-size: 15px !important;
}
}

@media screen and (max-width: 991px) {
  .offcanvas-header{
    position: absolute;
    right: 10px;
    top: -5px;
  }
  .mainsec h1 {
    font-size: 2.4rem !important;
    line-height: 1.2;
    text-align: left;
    width: 87%;
    margin: 0 auto;
}
  table tr {
    line-height: 1.2;
    font-size: 18px !important;
    width: 85%;
}
  .container-fluid.d-lg-none{
    visibility: hidden;
    display: none !important;
  }
  section.mainsec {
    padding-top: 100px !important;
}
  #footer-bottom .jetpack-social-navigation, #footer-bottom .copyright {
    text-align: center !important;
    justify-content: center !important;
    margin: 10px 0;
  }
  
  body .navbar-nav .nav-item:nth-child(4) .dropdown-menu, body .navbar-nav .nav-item:nth-child(5) .dropdown-menu {
    width: 100% !important;
   
}
  .nav-item .dropdown-menu{
    width: 100% !important;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    left: auto !important;
}
  .dropdown-menu .mega-menu-row > .mega-sub-menu {
    flex-direction: column;
}
 
  .my-container{
    max-width:none !important;
  }
  /* offcanvas menu */
  .offcanvas-body .nav-item {
    font-weight: 700;
    border-bottom: 1px solid #d1d1d1;
  }

  /* dropdown-menu */
  .dropdown-menu {
    padding: 0;
    border: none;
    line-height: 1.4;
    font-size: 0.9em;
  }

}



/*----- Nav Section Style -------------------------*/
/* nav bar style  */
.navbar-nav .nav-link.active, .navbar-nav .nav-link:active, .navbar-nav .nav-link:hover {
  color: #003970;
}
.footer-menu .menu-item a:hover {
  color: #003970;
}
.main-menu{
  border-bottom-color: #f2f2f2; 
}
.navbar-nav .fa{
  font-size: 20px;
}

.nav-link {
  color:#2c313f;
  font-size: 19px;
  letter-spacing: normal;
  font-weight: 600;
}

/* dropdown style */
.dropdown-item {
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.5rem 1rem;

}

.dropdown-item.active,
.dropdown-item:active {
  color: var(--body-text-color);
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: var(--light-grey-color);
}


.logo{
  width: 240px;
}
.mainsec h1{
  font-size: 3.0625rem;
  line-height: 1.2245;
  font-weight: 700;
  font-family: Poppins, sans-serif;
}
.my-container {
  max-width: 920px !important;
  margin: 0 auto;
}
.footer-menu h3{
  font-weight: 700;
  font-family: Poppins, sans-serif;
}
.menu-list.list-unstyled li{
    padding: 0.75em 0;
    margin:0 !important;

}
@media (max-width:767px) {
  footer .menu-list.list-unstyled li{
    border-top:1px solid #f3f3f3
  }
}
footer .menu-list.list-unstyled li a:hover{
  color:#003970
}
.menu-list.list-unstyled li > a{
  text-decoration:none;
}
.jetpack-social-navigation a {
  border: 1px solid #f3f3f3;
  border-radius: 50%;
  color: #000000;
  display: block;
  font-size: 16px;
  font-size: 15px;
  height: 2em;
  position: relative;
  width: 2em;
  text-align: center;
  line-height: 1.8;
}
#footer-bottom .my-container{
 padding: 30px 0;
}
hr {
  border-top: 1px solid #f3f3f3;
  opacity: 1;
}
.bg-primary{
  background-color: #003970 !important;
}
.rounded{
  border-radius: 70px !important;
}
ul.option li{
  border-top: 1px solid #f3f3f328;
  padding: 0.75em 0;
  font-size: 1.25rem;
  font-family: Lato, sans-serif;
  line-height: 2;
}
.post-date{
  display: block;
}
.text-primary {
  color: #003970 !important;
}
#newsandevents h2{
  font-weight: 700;
  font-family: Poppins, sans-serif;
}
#newsandevents p{
  font-size: 1.25rem;
  font-family: Lato, sans-serif;
  line-height: 2;
}


table tr  {
  padding: 15px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  transition: all .3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  outline: 0;
}
table tr {
  font-size: 20px;
  border: 1px solid #e9e9e9;
  padding: 10px 20px;
  color: #6ec1e4;
  margin-bottom: 12px !important;
  margin: 0 auto;
}
#offcanvasSearch {
  flex-direction: row;
  max-height: 80px;
  min-width: 480px;
  top: 80px;
  background: #ffffff;
  z-index: 9999999;
  border: none;
}

.main-menu{
  border-bottom: 1px solid #f3f3f3;
}
.dropdown-toggle::after {
  font-family: 'fontawesome';
  content: '\f107';
  background: none;
  border: none;
  position: absolute;
  right: 0px;
  bottom: 50%;
  transform: translate(0px, 60%);
}
iconify-icon.fs-4.me-3 {
  background: #003970;
  border-radius: 30px;
  padding: 4px;
  color: #fff;
  margin: 5px !important;
  cursor: pointer;
}

.nav-item .dropdown-menu {
  width: 680px;
  background: #f5f5f5;
  border: 0;
  border-radius: 0;

}
.navbar-nav .nav-item:nth-child(4) .dropdown-menu, .navbar-nav .nav-item:nth-child(5) .dropdown-menu {
  width: 620px !important;
  right: 0 !important;
  left: auto;
}

.mega-menu-row ul{
padding-left: 0px;
list-style: none;
}

.dropdown-menu .mega-menu-row > .mega-sub-menu {
  display: flex;
  gap: 20px;
  padding: 10px 10px;
}
.dropdown-menu .mega-menu-row > .mega-sub-menu > li .mega-menu-link:first-child {
  font-weight: 500;
}
.dropdown-menu .mega-menu-row > .mega-sub-menu .mega-menu-column .mega-sub-menu .mega-sub-menu .mega-menu-item {
 padding-bottom: 0px !important;
 color: #666;
 padding-top: 8px !important;
 
}
.dropdown-menu .mega-menu-row > .mega-sub-menu .mega-menu-column .mega-sub-menu .mega-sub-menu .mega-menu-item a{
  color: #999;
  font-size: 14px;
 }
 .dropdown-menu .mega-menu-row > .mega-sub-menu a{
  color:#7d7d7d
 }
 .dropdown-menu, .mega-menu-row{
padding: 0 !important;
 }
 .navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  left: -100px;
}
.navfix{
    position: fixed !important;
    width: 100%;
    top: 0;
    background: #fff;
    z-index: 999999;
}
.mainsec{
  padding-top: 150px !important;
  padding-bottom: 80px !important;
}
/* div#offcanvasNavbar {
  position: absolute;
  width: 100%;
  top: 80px;
  z-index: 99999;
  min-height: 80vh;
}
div#offcanvasNavbar .offcanvas-backdrop {
  opacity: 0;
  display: none;
} */

.jetpack-social-navigation a:hover{
  color: #003970;
  background: #e7e7e7;
}
